apiVersion: v1
kind: Service
metadata:
  name: phpmyadmin
  labels:
    app: phpmyadmin
spec:
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  selector:
    app: phpmyadmin
    tier: frontend
  type: LoadBalancer
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: php-pv-claim
  labels:
    app: phpmyadmin
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: phpmyadmin
  labels:
    app: phpmyadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: phpmyadmin
      tier: frontend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: phpmyadmin
        tier: frontend
    spec:
      containers:
      - image: phpmyadmin_alpine
        imagePullPolicy: Never
        name: phpmyadmin
        ports:
        - containerPort: 5050
          name: phpmyadmin
        volumeMounts:
        - name: phpmyadmin-persistent-storage
          mountPath: /var/www/html
      volumes:
      - name: phpmyadmin-persistent-storage
        persistentVolumeClaim:
          claimName: wp-pv-claim
